* {
    margin: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    margin-left: 3vh;
    margin-right: 3vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-top: 2vh;
    margin-bottom: 2vh;
}

.navigation-buttons > a{
    margin: 1vh;
}

.introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    gap: 10px;
}

.introduction > h1 {
    font-size: 2.5em;
}

/* index */
/* container */
.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    gap: 10px;

    margin-bottom: 5vh;
}

.container-items {
    padding: 2vh;
    border: 2px solid;
    border-radius: 20px;
}

.container-items > h2 {
    margin-bottom: 2vh;
}

/* experience */
.experience {
    display: flex;
    flex-direction: column;
}

/* .experience > h2 {
    margin-bottom: 2vh;
} */

.exp-list {
    margin-bottom: 2vh;
}

.exp-list > h2, p {
    margin-bottom: 1vh;
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects > a {
    margin-bottom: 1.5vh;
}

.education > ul{
    padding-left: 20px;
}

.reviews > h2 {
    margin-bottom: 1vh;
}

.review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vh;

    margin-bottom: 5vh;
}

.review-item {
    padding: 2vh;
    border: 2px solid;
    border-radius: 20px;
}

/* project.html */
.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2vh;
    
    margin-bottom: 5vh;
}

.project-items {
    padding: 2vh;
    border: 2px solid;
    border-radius: 20px;
}

.project-items > img {
    width: 25em;
}

footer {
    text-align: center;
}


/* Mobile Device */
    @media (max-width: 740px) {
        nav {
            flex-direction: column;
        }

        nav > h3 {
            margin-bottom: 1vh;
        }

        .introduction {
            height: 10vh;
            margin-bottom: 3vh;
        }

        .container {
            grid-template-columns: 1fr;
        }

        .review-container {
            grid-template-columns: 1fr;
        }
    }
